
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/js/addproduct.js"></script>


<html>


<title>
</title>
<body>

	Name: <input type="text" id="productName">
	<input type="button" id="AddProduct" value="Add"></input>

	<div id="AddedProduct">
	</div>	
</body>

</html>